@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

.headerText {
  font-family: "Maven Pro", sans-serif;
}

.headerText1 {
  font-family: "Maven Pro", sans-serif;
  margin-bottom: 0px !important;
}

.allText {
  font-family: "PT Sans", sans-serif;
}

.grayCardBg {
  background-color: #262729;
}

.signinBtnBg {
  background-color: #374251 !important;
}

.askAnAdminLoginText {
  color: #a7a7a8 !important;
  font-size: 13px;
}

.enterUsernameLoginText {
  color: #a7a7a8 !important;
}

.loginForm {
  background-color: #27272a !important;
  color: white !important;
}

.loginFormText {
  color: #71717a !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dashboardSlugTitle {
  color: #A7A7A8 !important; 
  font-size: 22px;
  /* text-decoration: underline; */
}

.dashboardSlugText {
  color: #A7A7A8 !important; 
  font-size: 22px;
  /* text-decoration: underline; */
  /* background-color: #171719; */
  color: #DFDFDF !important;
}

.dashboardDescText {
  color: #A7A7A8 !important; 
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  background-color: #171719;
}

.reservationBtn {
  background-color: rgb(70, 154, 70) !important;
}

.scrollFeature {
  max-height: 250px;
  overflow-y: scroll;
}

.scrollFeature2 {
  max-height: 300px;
  overflow-y: scroll;
}

.scrollFeature3 {
  /* max-height: 165px; */
  max-height: 210px;
  overflow: auto;
}

.scrollFeature3::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.scrollFeature3::-webkit-scrollbar-track {
  background: #3F3F45 ;        /* color of the tracking area */
}

.scrollFeature3::-webkit-scrollbar-thumb {
  background-color: #262729;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #3F3F45 ;  /* creates padding around scroll thumb */
}

.marginTop {
  margin-top: 25%;
}

.tabBg {
  background-color: #262729;
  min-height: 94vh;
}

.tabBtn {
  background-color: #27272A !important;
  border-radius: 0.1px;
  border: 2px solid #3F3F45 !important;
  color: #DFDFDF !important;
  font-size: 18px;
}
.tabBtn1 {
  background-color: #27272A !important;
  border-radius: 0.1px;
  border: 2px solid #3F3F45 !important;
  color: #DFDFDF !important;
  font-size: 18px;
}

.tabBtn:hover {
  background-color: #3F3F45 !important;
}

.roundedCorners {
  border-radius: 20px;
}

.searchBarBg {
  background-color: #222325!important;
}

.searchKataText {
  color: #EFEFEF;
  font-size: 28px;
}

.navImg {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.unreserveBtn {
  width: 100px;
}

.redText {
  color: red;
}

.greenText {
  color: green;
}

.listGroupBG{
  background-color:#222325 !important;
  color: #A7A7A8 !important;
}

/* .editCohortColor{
  background-color: #262729 !important;
} */

.modal-content{
  background-color:#171719 !important;
  color:white
}

.labelTxt{
  color:#A7A7A8
}

.accordion-button{
  background-color: #222325 !important;
  color: #A7A7A8 !important;
  border-color: #171719 !important;
}

.allUsersInCohort{
  background-color:#1e1f20 !important;
  color: #A7A7A8 !important;
}

.reserveBtn {
  margin-left: 60%;
}

.kataName {
  font-weight: bold;
}
.pointer{
  cursor: pointer;
}
.kata-link{
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.kata-link:hover{
  color: rgb(235, 183, 23);
}
a{
  cursor: pointer;
}

@media (min-width: 576px)
{
.modal-dialog {
    max-width: 900px !important;
}
}

/* .cohortMargin {
  margin-left: 10%;
} */